/*----------------------------variables------------------------*/
:root {
  /*----------colors----------*/
  --color-darker: #000;
  --color-dark: #fe3371;
  --color-accent1: #0075be;
  --color-accent2: #e835ae;
  --color-light: #fffbff;
  --color-lighter: #fff;

  /*----------fonts----------*/
  --font-display: "Gatwick", sans-serif;
  --font-paragraph: "Neue Montreal", sans-serif;
}

@font-face {
  font-family: "Gatwick"; /* Name your font family */
  src: url("fonts/PPGatwick-JetBold.woff2"); /* Locate the .ttf file within your directory*/
}

@font-face {
  font-family: "Neue Montreal"; /* Name your font family */
  src: url("fonts/PPNeueMontreal-Regular.woff2"); /* Locate the .ttf file within your directory*/
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-decoration: none;
}

body {
  font-family: var(--font-paragraph);
  font-weight: 300;
  line-height: 1.8;
  margin: 0;

  width: 100%;
  height: 100%;
}

/*----------------------------navigation----------------------*/

.logo {
  display: block;
  z-index: 100;
  height: 50px;
  width: 50px;
}

nav {
  padding: 1rem;
}

.navbar {
  position: sticky;
  top: 0;
  padding: 0.25rem 1rem;

  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*   padding: 0 24px; */
  background-color: #fff;
  z-index: 102;
}

.navbar > h5 {
  margin-block: 0.5rem;
  margin-right: 0.5rem;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav_branding {
  font-size: 2rem;
}

.nav_link {
  /*transition: 0.3s ease;*/
  color: var(--color-darker);
  font-weight: lighter;
}

.nav_link:hover {
  color: var(--color-dark);
}

/*----------------------------hamburger menu-----------------------*/

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-dark);
  border-radius: 500px;
}

/*----------------------------header design-----------------------*/

header {
  background-image: url(images/splash_v6_2560x1080_test.svg);
  height: 90.3vh;
  width: 100vw;
  background-position: 79% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.text_container {
  /*  width: 50vw; */
  width: auto;
  text-align: left;
  position: relative;
  bottom: 15vh;
}

#animated_text {
  font-family: var(--font-display);
  font-weight: 600;
  font-size: 7vw;
  display: inline-block;
  white-space: nowrap;
  transition: opacity 0.4s ease, transform 0.4s ease;
  /* transform: translateX(-20px); */
  opacity: 0;
  color: var(--color-accent1);
}

#tree {
  display: none;
}

.clouds {
  position: absolute;
  height: auto;
  animation: moveClouds 150s linear infinite;
  width: 350vw;
  top: 5%;
}

#clouds1 {
  left: 0vw;
}

#clouds2 {
  left: -350vw;
}

#clouds3 {
  left: -700vw;
}

#clouds4 {
  left: -1050vw;
}

/*----------------------------intro design-----------------------*/

#intro {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 2vw;
}

#intro h1 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  font-size: 3rem;
}

#intro h1.visible {
  opacity: 1;
  transform: translateY(0);
}

/*----------------------------marquee-----------------------*/

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  font-family: var(--font-display);
  color: var(--color-dark);
  opacity: 75%;
  font-size: 5rem;
}

.marquee-content {
  display: inline-block;
  animation: marquee 15s linear infinite;
}

.marquee-content span {
  padding-right: 50px; /* Add space between spans */
}

/*----------------------------project section-----------------------*/

.p-container {
  position: relative;
  cursor: pointer;
  margin-inline: 1.5vw;
  margin-bottom: 1.5vw;
}

.p-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(254, 51, 113, 0.75);
}

.p-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 11vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

/*----------------------------contact section-----------------------*/

#contact {
  height: 100vh;
  width: 100vw;
}

/*----------------------------media queries----------------------*/

@media (max-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }

  .hamburger {
    display: block;
    margin-left: 0;
    z-index: 100;
  }

  /* .ba changed to .bar (mispelling) */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav_menu {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: var(--color-light);
    height: 100vh;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    justify-content: start;
    padding-top: 90px;
  }

  .nav_item {
    width: 100%;
    height: 60px;
  }

  .nav_link {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: black;
    width: 100%;
    font-size: 1.875rem;
  }

  .nav_link:hover {
    background-color: #fff5f8;
  }

  .nav_menu.active {
    left: 0;
  }

  header {
    align-items: center;
    background-position: 76% 50%;
  }

  .stamp {
    position: absolute;
    bottom: 5vh;
    font-size: 1.75vh;
  }
}

/*width / height*/
@media (min-aspect-ratio: 1/1.8) {
  /* .clouds {
    bottom: 5%;
  } */

  .clouds {
    animation: moveClouds 250s linear infinite;
    width: 250vw;
  }

  #clouds2 {
    left: -250vw;
  }

  #clouds3 {
    left: -500vw;
  }

  #clouds4 {
    left: -750vw;
  }
}

@media (min-aspect-ratio: 1.05/1) {
  .hideOnDesktop {
    display: none;
  }

  #contact_btn {
    background-color: black;
    color: var(--color-light);
    padding: 10px 10px;
    border-radius: 4px;
  }

  header {
    background-position: 69% 50%;
  }

  #animated_text {
    font-size: 7vh;
  }

  #tree {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 22vw;
    display: block;
    max-height: 300px;
  }

  .clouds {
    animation: moveClouds 250s linear infinite;
    width: 125vw;
    top: 5%;
  }

  #clouds2 {
    left: -125vw;
  }

  #clouds3 {
    left: -250vw;
  }

  #clouds4 {
    left: -375vw;
  }
}

/*--------------------tablet-----------------*/
@media (min-aspect-ratio: 4/3) {
  header {
    background-position: 56% 50%;
  }

  /* .clouds {
    animation: moveClouds 250s linear infinite;
    width: 150vw;
  }

  #clouds2 {
    left: -150vw;
  }

  #clouds3 {
    left: -300vw;
  }

  #clouds4 {
    left: -450vw;
  } */

  .clouds {
    animation: moveClouds 250s linear infinite;
    width: 100vw;
  }

  #clouds2 {
    left: -100vw;
  }

  #clouds3 {
    left: -200vw;
  }

  #clouds4 {
    left: -300vw;
  }

  #projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-inline: 0.5vw;
    gap: 0.5vw;
  }

  .p-container {
    margin-inline: 0;
    margin-block: 0;
  }

  .text {
    font-size: 5vw;
  }
}

/*--------------------desktop-----------------*/
@media screen and (min-aspect-ratio: 16/9) {
  header {
    background-position: center;
    height: 100vh;
  }
}

/*--------------------wider screens-----------------*/
@media screen and (min-aspect-ratio: 21/9) {
}

/*--------------------animations-----------------*/

@keyframes moveClouds {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(400vw); /* Clouds will move from left to right */
  }
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
